@model HrService.Models.Hrtask

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Задача HR-менеджера</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" type="date" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completed" class="control-label"></label>
                <select name="Completed" class="form-control" asp-for="Completed">
                    <option value="1">выполнено</option>
                    <option value="0">не выполнено</option>
                </select>
                <span asp-validation-for="Completed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHrSpecialist" class="control-label"></label>
                <select asp-for="IdHrSpecialist" class="form-control" asp-items="ViewBag.IdHrSpecialist"></select>
                <span asp-validation-for="IdHrSpecialist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
